
.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: #fff;

    .fill {
        background-image: url('https://source.unsplash.com/random/150x150');
        height: 145px;
        width: 145px;
        cursor: pointer;
    }
}

.hold {
    border: solid 5ps #ccc
}

.hovered {
    background: #333;
    border-color: #ffff;
    border-style: dashed;
}